# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Ignore override files as they are usually for local only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore terraform variables files if they contain secrets
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc
